<nav>
            <a href="/">Topic Overview</a>
            <a href="/powershell"> Development of PowerShell for IT Solutions </a>
            <a href="/automation"> Automating IT Processes </a>
            <a href="/api"> PowerShell with APIs </a>
            <a href="/builtIn"> Built-in API Example </a>
</nav>